@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

.container h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#value {
  font-size: 6rem;
  font-weight: 700;
  display: block;
  margin-bottom: 1.5rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 700;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  transition: all 0.2s linear;
}

.btn:hover {
  color: #fff;
  background: #222;
}

.btn:active {
  transform: scale(0.95);
}